div {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

table {
    background-color: white;
    margin: 0 auto 0 auto;
    border: 1px solid black;
}

table th {
    background-color: #bfbab8;

}

table tr td {
    background-color: #f58a5f;
    text-align: left;
}


.Nama {
    width: 300px;
}

.Harga {
    width: 200px;
}

.Berat {
    width: 200px;
}
